<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MeuApp</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of menuItems()">
          <a class="nav-link" [routerLink]="item.path">{{ item.label }}</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="user()">
          Olá, <strong>{{ user()?.sub }}</strong> ({{ user()?.role }})
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light btn-sm ms-2" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>