<div class="container mt-4">

  @if (template()) {
    <h3>Submissões do Formulário: {{ template()?.name }}</h3>
  }

  @if (loading()) {
    <div>Carregando...</div>
  }

  @if (!loading() && submissions().length === 0) {
    <div>Nenhuma submissão encontrada.</div>
  }

  @if (!loading() && submissions().length > 0) {
    @for (submission of submissions(); track submission.id) {
      <div class="card mb-3">

        <div class="card-header">
          #{{ submission.id }} - {{ submission.createdAt | date:'short' }}
        </div>

        <ul class="list-group list-group-flush">

          @for (field of submission.values | keyvalue; track field.key) {
            <li class="list-group-item">
              <strong>{{ field.key }}:</strong> {{ field.value }}
            </li>
          }

        </ul>

      </div>
    }
  }

</div>